.overlay {
  position: fixed;
  inset: 0;
  background: var(--color-fondo-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalReset {
  background: var(--color-fondo-modal);
  border: solid 2px var(--color-borde-modal);
  padding: 1.5rem;
  border-radius: 12px;
  width: 90%;
  max-width: 360px;
  text-align: center;

  h3 {
    color: var(--color-cancelar-focus);
    margin-bottom: 1rem;
  }

  p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .botones {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;

    button {
      flex: 1;
      padding: 0.6rem;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      border: solid 2px var(--color-borde-modal);
    }

    .confirmar {
      background: var(--color-cancelar);
      color: var(--color-texto);
    }
  }

  animation: fadeIn 0.2s ease-out;
  @keyframes fadeIn {
    from {
      transform: scale(0.95);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}
