.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalReset {
  background: black;
  border: solid 2px #ccc;
  padding: 1.5rem;
  border-radius: 12px;
  width: 90%;
  max-width: 360px;
  text-align: center;

  h3 {
    color: #ff5252;
    margin-bottom: 1rem;
  }

  p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .botones {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;

    button {
      flex: 1;
      padding: 0.6rem;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      border: solid 2px #ccc;
    }

    // .cancelar {
    //   background: #444;
    //   margin-right: 0.5rem;
    // }

    .confirmar {
      background: #b00020;
      color: white;
    }
  }

  animation: fadeIn 0.2s ease-out;
  @keyframes fadeIn {
    from {
      transform: scale(0.95);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}
