.overlay {
  position: fixed;
  inset: 0;
  background: var(--color-fondo-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: var(--color-fondo-modal);
}

.popUpNuevo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  width: 80%;
  align-items: center;

  input {
    border-radius: 5px;
    background-color: var(--color-negro);
    color: var(--color-texto);
    width: 95%;
    text-align: center;
    border: solid 1px var(--color-borde-modal);
  }

  .botones {
    margin-top: 20px;
    button {
      margin: 10px;
      border: solid 1px var(--color-borde-modal);
    }
    .botonCancelar {
      background-color: var(--color-cancelar);
      color: var(--color-texto);
    }
  }

  animation: fadeIn 0.2s ease-out;
  @keyframes fadeIn {
    from {
      transform: scale(0.95);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}
