.popUpNuevo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  width: 80%;
  align-items: center;

  input {
    border-radius: 5px;
    background-color: black;
    color: white;
    width: 95%;
    text-align: center;
    border: solid 1px #ccc;
  }

  .botones {
    margin-top: 20px;
    button {
      margin: 10px;
      border: solid 1px #ccc;
    }
    .botonCancelar {
      background-color: rgb(173, 22, 22);
      color: white;
    }
  }

  animation: fadeIn 0.2s ease-out;
  @keyframes fadeIn {
    from {
      transform: scale(0.95);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}
