.historial {
  height: 100vh;
  .historial-lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;
  }

  .mes-card {
    background: var(--color-fondo-grafica);
    border-radius: 14px;
    padding: 16px;
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
    h3 {
      margin: 0;
      font-size: 1.1rem;
      font-weight: 600;
    }
    .anio {
      font-size: 0.9rem;
      opacity: 0.7;
      display: block;
      margin-bottom: 10px;
    }

    p {
      margin: 4px 0;
      font-size: 0.9rem;
    }
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--color-fondo-overlay);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    display: flex;
    flex-direction: column;
    background: var(--color-fondo-modal);
    border-radius: 12px;
    max-height: 60vh;
  }

  .lista-movimientos {
    // margin-top: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: thin;
  }

  .historial-to-home-indicator {
    position: fixed;
    right: -50px; // mitad fuera de la pantalla
    top: 50%;
    transform: translateY(-50%);

    width: 180px;
    height: 180px;

    background: var(--color-fondo-swipe);
    color: var(--color-texto);

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    pointer-events: none;

    border-radius: 50%;
    transition:
      opacity 0.2s ease,
      transform 0.2s ease;
  }
}
