.movimiento {
  display: flex;
  align-items: center;
  padding: 8px 5px;
  font-size: 15px;
  border-bottom: 1px solid var(--color-texto);
}

/* FECHA */
.fecha {
  flex: 0 0 auto;
  white-space: nowrap;
  padding-right: 10px;
  border-right: 1px solid var(--color-texto);
}

/* DESCRIPCIÓN */
.descripcion {
  flex: 1;
  min-width: 0;
  padding: 0 10px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  text-align: center;
}

/* CANTIDAD */
.movimiento > strong {
  flex: 0 0 auto;
  white-space: nowrap;
  padding-left: 10px;
  border-left: 1px solid var(--color-texto);
}

/* COLORES */
.movimiento > strong.ingreso {
  color: var(--color-ingreso);
}

.movimiento > strong.gasto {
  color: var(--color-gasto);
}
