.movimiento {
  display: flex !important;
  padding: 5px;
  margin-bottom: 5px;
  gap: 25px; /* espacio entre columnas */
  font-size: 15px;

  strong {
    display: flex;
    flex: 1;
    text-align: right;
    justify-content: right;
    align-items: center;
  }
  .descripcion {
    flex: 0.8;
    text-align: center;
    align-items: center;
  }
  small {
    display: flex;
    flex: 0.5;
    text-align: left;
    align-items: center;
  }
}

/* Color según tipo */
.movimiento > strong.ingreso {
  color: var(--color-ingreso);
}

.movimiento > strong.gasto {
  color: var(--color-gasto);
}
