.resetMovimientos {
  margin-top: 1.5rem;
  text-align: center;

  .botonReset {
    background: #8b0000;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }

  button:focus,
  button:focus-visible {
    background-color: rgb(255, 0, 0);
    color: black;
    border: 1px solid transparent;
  }
}
