.resetMovimientos {
  margin-top: 1.5rem;
  text-align: center;

  .botonReset {
    background: var(--color-cancelar);
    color: var(--color-texto);
    padding: 0.6rem 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-bottom: 40px;
  }

  button:focus,
  button:focus-visible {
    background-color: var(--color-cancelar-focus);
    color: var(--color-input);
    border: 1px solid transparent;
  }
}
