.modal-colores {
  background-color: var(--color-fondo-grafica);
  border-radius: 10px;
  padding: 15px;
  margin-top: 30px;

  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 5rem;
  }
}

.modal-colores input[type="color"] {
  width: 40px;
  height: 32px;
  border: none;
  background: transparent;
  padding: 0;
}

.volver {
  position: absolute;
  left: 15px;
  top: 60px;
}
