#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: #242424;
  color: white;
}

.grafica {
  p {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  strong {
    color: #61dafb;
    font-size: 30px;
  }
}

.popUpMovimiento {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listaMovimientos {
  max-height: 60vh; // 60% de la pantalla
  overflow-y: auto;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 4px;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  border: solid 2px #ccc;
  border-radius: 10px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 300px;
}

button {
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  margin: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  background-color: white;
  color: black;
  border: 1px solid transparent;
}
