#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

.cabecera {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;

  button {
    position: absolute;
    right: 15px;
  }
}

.grafica {
  p {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  strong {
    color: var(--color-texto-primario);
    font-size: 30px;
  }
}

.popUpMovimiento {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listaMovimientos {
  max-height: 60vh; // 60% de la pantalla
  overflow-y: auto;
  scrollbar-width: thin;
  background-color: var(--color-fondo-grafica);
  border-radius: 10px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2px;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: var(--color-fondo-modal);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  border: solid 2px var(--color-borde-modal);
  border-radius: 10px;
  background-color: var(--color-negro);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 300px;
}

button {
  border-radius: 8px;
  border: 1px solid var(--color-borde-modal);
  padding: 0.6em 1.2em;
  margin: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-fondo-botones);
  color: var(--color-texto);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  background-color: var(--color-fondo-botones-focus);
  color: var(--color-negro);
  border: 1px solid transparent;
}

.settings-indicator {
  position: fixed;
  right: -50px; // mitad fuera de la pantalla
  top: 50%;
  transform: translateY(-50%);

  width: 200px;
  height: 200px;

  background: var(--color-fondo-swipe);
  color: var(--color-texto);

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  pointer-events: none;

  border-radius: 50%;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}
