:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-texto);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-fondo: #242424;
  --color-input: #000000;
  --color-borde-modal: #cccccc;
  --color-fondo-overlay: #00000099;
  --color-fondo-modal: #00000099;
  --color-fondo-botones: #1a1a1a;
  --color-fondo-botones-focus: #ffffff;
  --color-fondo-grafica: #1a1a1a;
  --color-texto: #ffffff;
  --color-texto-primario: #61dafb;
  --color-ingreso: #008000;
  --color-gasto: #ff0000;
  --color-cancelar: #8b0000;
  --color-cancelar-focus: #ad2f2f;
  --color-fondo-swipe: #ffffff1f;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}